*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  padding: 1.5rem;
}

h1 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2.24rem;
}

h3 {
  color: black;
}

h4 {
  color: #000000;
}

p {
  color: #000000;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
}

li {
  color: black;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 500;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  position: relative;
  margin-right: 20px; /* Adjust the spacing between menu items as needed */
  cursor: pointer;
}

.nav-list li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Set the thickness of the underline */
  background-color: #333; /* Set the underline color */
  transition: width 0.3s ease; /* Add a smooth width transition */
}

.nav-list li:hover::before {
  width: 100%;
}

.logo {
  width: 12.5rem;
}

#searchInput {
  width: 27rem;
  padding: 10px;
  margin-right: 5rem;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #f0f0f0be;
  padding-left: 40px;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.25rem;
}

.icon {
  width: 2rem;
}

.call-to-action {
  background: url("images/clothes.png");
  display: flex;
  justify-content: center;
  height: 31.5rem;
}

.call-to-action .container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.call-to-action .container p {
  padding-bottom: 2rem;
}

.first-line {
  margin-bottom: 10px;
}

.buy-now-btn {
  background-color: #550a52;
  color: #fff;
  padding: 20px 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.buy-now-btn:hover {
  background-color: #9f6e9f;
  transform: scale(1.1);
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

.items img {
  width: 240px;
  border-radius: 20px;
}

.items .box h2 {
  text-align: center;
  line-height: 50px;
}

.statement {
  background-color: rgb(243, 222, 241);
}

.statement-border {
  padding: 20px;
  border: 2px solid #8c3c8d;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.email-section {
  display: flex;
  padding: 100px 0px;
}

.signup {
  text-align: center;
}

.divider {
  border-left: 2px solid #bab9ba;
  height: 14.5rem;
}

.email-section .signup .buy-now-btn {
  background-color: #412a40;
}

/* Scroll to top arrow */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8c3c8d;
  color: #fff;
  padding: 12px 16px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scroll-to-top.show {
  opacity: 0.7;
  pointer-events: auto;
}

.scroll-to-top:hover {
  background-color: rgba(133, 119, 133, 0.7);
  transform: scale(1.1);
}

.pre-footer {
  margin-left: -2rem; /* Adjust this value to match the body padding */
  margin-right: -2rem; /* Adjust this value to match the body padding */
  padding: 30px; /* or any other value you desire */
  background-color: #9f6e9f; /* Just for visualization */
  display: flex;
  justify-content: space-around;
}

.sec1 {
  display: flex;
}

.block {
  padding: 2rem;
}

.block ul {
  display: flex;
  flex-direction: column;
}

.block li {
  font-size: 1rem;
}

.sec2 {
  padding: 2rem;
}

.sec2-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}

.sec2 .sec2-email .buy-now-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-divider {
  width: 100%;
  border: 1px solid #000000; /* Customize the border color as needed */
  margin: 20px 0; /* Adjust the margin to control the space around the line */
}

.connect-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pre-footer-icons {
  padding: 0rem 2rem;
}

footer {
  background-color: #000000;
  margin: -2rem;
  padding: 2rem;
  color: white;
}

footer li {
  color: white;
  font-size: 0.8rem;
}

.notice li {
  border-right: 1px solid #ffffff; /* Adjust the color and thickness of the vertical line */
  padding-right: 2rem; /* Adjust as needed */
  margin: 0rem 0.7rem;
}

footer p {
  color: white;
  padding: 2rem;
  font-size: 0.8rem;
  text-align: center;
}

/*Mobile Responsive Design Soon*/
@media (max-width: 767px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .divider{
    display: none;
  }

  #scrollToTop{
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin-top: 10px;
    margin-left: 90px;
  }

  #searchInput {
    width: 220px;
  }

  .navbar .icon {
    display: none;
    padding: 20px;
  }

  .nav-list {
    display: none;
  }

  .under-navbar {
    padding: 10px;
  }

  .sec1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block {
    width: 100%;
    box-sizing: border-box;
  }

  .call-to-action h1 {
    font-size: 1.5em;
  }

  .items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .items img {
    width: 130px;
  }

  .box {
  }

  .box:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  .statement-border {
    font-size: 0.9em;
    padding: 10px;
  }

  .email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup {
    margin-bottom: 20px;
  }

  .pre-footer {
    display: flex;
    flex-direction: column;
  }

  .sec2 {
    width: 100%;
  }

  .sec2-email,
  .connect-section {
    text-align: center;
  }

  .pre-footer-icons {
    display: flex;
    justify-content: center;
  }

  footer {
    text-align: center;
  }

  .notice {
    display: none;
  }

  p {
    font-size: 0.9em;
  }
}
